<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo"><img src="../../../assets/imgs/logo.png" ></a>
      <ul class="right hide-on-med-and-down">
        <li><a materialize="dropdown" class="dropdown-button hs-text-color" data-activates="dropdown1" data-hover="true" data-beloworigin="true"><i class="material-icons hs-text-color right">account_circle</i><strong>{{'John Doe'}}</strong></a></li>
      </ul>
    </div>
  </nav>
</div>


<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>