<div class="row" materialize [formGroup]="shiftsForm" ngNativeValidate>
  <div class="col m12">
    <h3 class="hs-text-color">Turnos</h3>
  </div>
  <div class="row">
    <div class="col m4">
      <nav class="hs-color">
        <div class="nav-wrapper">
          <div class="col s12">
            <a routerLink="/dashboard/home" class="breadcrumb">Dashboard</a>
            <a routerLink="/dashboard/shifts" class="breadcrumb">Shifts</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="input-field col s12 m3 card card-input hoverable no-margin valign-wrapper right">
      <i class="material-icons prefix">list</i>
      <input id="icon_prefix" placeholder="Cantidad turnos" formControlName="limit" list="limit" type="text" class="validate card-input">
      <datalist id="limit">
        <option value="10">10 turnos</option>
        <option value="15">15 turnos</option>
        <option value="20">20 turnos</option>
      </datalist>
    </div>
  <div *ngIf="$shifts | loading | async as shiftsData;">
    <!-- clients data -->
    <ng-template [ngIf]="shiftsData.value">
      <div>
        <div class="col m12">
          <div class="card-panel no-padding">
            <table class="striped">
              <thead class="hs-color">
                <tr>
                  <th class="white-text">Tipo</th>
                  <th class="white-text">Fecha</th>
                  <th class="white-text">Inicio</th>
                  <th class="white-text">Termino</th>
                  <th class="white-text">Locacion</th>
                  <th class="white-text">Cliente</th>
                  <th class="white-text">Guardias</th>
                  <th class="white-text">Novedades</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let shift of shiftsData.value.shifts">
                  <!-- <p>{{ shift | json }}</p> -->
                  <td *ngIf="shift.type === 'Day'">Día</td>
                  <td *ngIf="shift.type === 'Night'">Noche</td>
                  <td>{{(shift.date || '')}}</td>
                  <td>{{(shift.start || '')}}</td>
                  <td>{{(shift.finish || '')}}</td>
                  <td>{{(shift.shiftPlace || '')}}</td>
                  <td>{{(shift.clientClient.name || '')}}</td>
                  <!-- Modal Trigger -->
                  <a class="modal-trigger btn-flat" (click)="openModal(shift.guards)"><i
                      class="material-icons hs-text-color" id="icon">assignment_ind</i></a>
                      <i
                      class="material-icons hs-text-color" id="icon">assignment</i>

                </tr>
              </tbody>
            </table>
          </div>
          <ul class="pagination card-panel center">
            <div *ngIf="actualPage==1; then chevron_leftDisableBlock; else chevron_leftEnableBlock"></div>
            <ng-template #chevron_leftDisableBlock><li class="waves-effect disabled"><a><i class="material-icons">chevron_left</i></a></li></ng-template>
            <ng-template #chevron_leftEnableBlock><li (click)="chargePage(lastPage)" class="waves-effect"><a><i class="material-icons">chevron_left</i></a></li></ng-template>
            <li *ngFor="let page of pages" (click)="chargePage(page.number)" class="waves-effect" [ngClass]="page.state">
              <a>{{page.number}}</a></li>
            <div *ngIf="actualPage==pagelimit; then chevron_rightDisableBlock; else chevron_rightEnableBlock"></div>
            <ng-template #chevron_rightDisableBlock><li class="waves-effect disabled"><a><i class="material-icons">chevron_right</i></a></li></ng-template>
            <ng-template #chevron_rightEnableBlock><li (click)="chargePage(nextPage)" class="waves-effect"><a><i class="material-icons">chevron_right</i></a></li></ng-template>
          </ul>
        </div>
      </div>
    </ng-template>
    <!-- error for get clients data -->
    <ng-template [ngIf]="shiftsData.error">
      <div class="col l6 offset-l3 center">
        <div class="card-panel">
          <i class="material-icons large amber-text">sentiment_dissatisfied</i>
          <h3>No se encuentran los turnos</h3>
          <p>No hay ningun turno ingresado. Se sugiere que ingrese alguno.</p>
        </div>
      </div>
    </ng-template>
    <!-- loading for get clients data -->
    <ng-template [ngIf]="shiftsData.loading">
      <div class="row center">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large tooltipped hs-color" materialize="tooltip" routerLink="/dashboard/createShift"
    data-position="left" data-delay="50" data-tooltip="Crear turno">
    <i class="large material-icons">add</i>
  </a>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]"
    [materializeActions]="modalActions">
    <nav id="modal_nav" class="row hs-color">
      <div class="left col m8 offset-m3">
        <ul>
          <li class="valign-wrapper"><i class="material-icons">security</i></li>
          <li><h5 class="rigth">Guardias</h5></li>
        </ul>
      </div>
      <div >
        <ul>
          <li ><a href="#!" class="modal-close waves-effect waves-blue"><i class="material-icons">close</i></a></li>
          <li></li>
        </ul>
      </div>
    </nav>
    <div class="modal-content">
      <div class="row">
        <div *ngFor="let guard of guardsShiftSelected">
          <div class="col m7 offset-m3">
            <div class="card horizontal hoverable">
              <div class="card-image center ">
                <img class="image-guard " src="../../../assets/imgs/Police Officer1_RF_RMPL-01.png">
              </div>
              <div class="card-stacked ">
                <div class="card-content">
                  <div>
                    <div class="valign-wrapper"><i
                        class="material-icons ">person</i>{{(guard.firstname || '') + ' ' + (guard.lastname || '')}}</div>
                    <div class="valign-wrapper"><i class="material-icons ">subtitles</i>{{ guard.rut }}</div>
                  <div class="valign-wrapper"><i class="material-icons ">local_phone</i>{{ guard.phone }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-blue btn-flat">Cerrar</a>
  </div>
</div>
