<div class="row" materialize [formGroup]="shiftsForm" (ngSubmit)="addUpdateShift()" ngNativeValidate>
  <div class="col m12">
    <h3 class="hs-text-color">Turnos</h3>
  </div>
    <div class="row">
      <div class="col m4">
        <nav class="hs-color">
          <div class="nav-wrapper">
            <div class="col s12">
              <a routerLink="/dashboard/home" class="breadcrumb">Dashboard</a>
              <a routerLink="/dashboard/shifts" class="breadcrumb">Turnos</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="input-field col s5 right">
        <i class="material-icons prefix hs-text-color">list</i>
        <input formControlName="limit" list="limit" type="text" required class="validate">
        <label for="icon_prefix hs-text-color">Cantidad turnos</label>
        <datalist id="limit" >
          <option value="" disabled selected>Choose your option</option>
          <option value="10">10 turnos</option>
          <option value="15">15 turnos</option>
          <option value="20">20 turnos</option>
        </datalist>
      </div>
    </div>
    <div *ngIf="$shifts | loading | async as shiftsData;">
      <!-- clients data -->
      <ng-template [ngIf]="shiftsData.value">
        <div>
          <div class="col m12">
            <div class="card-panel no-padding">
              <table class="striped">   
                <thead class="hs-color">
                  <tr>
                    <th class="white-text">Tipo</th>  
                    <th class="white-text">Inicio</th>
                    <th class="white-text">Termino</th>
                    <th class="white-text">Locacion</th>
                    <th class="white-text">Cliente</th>
                    <th class="white-text">Guardias</th>
                  </tr> 
                </thead>  
              
                <tbody>
                  <tr *ngFor="let shift of shiftsData.value.shifts" >
                    <!-- <p>{{ shift | json }}</p> -->
                    <td *ngIf="shift.type === 'Day'">Día</td>
                    <td *ngIf="shift.type === 'Night'">Noche</td>
                    <td>{{(shift.start || '')}}</td>
                    <td>{{(shift.finish || '')}}</td>
                    <td>{{(shift.shiftPlace || '')}}</td>
                    <td>{{(shift.clientClient.name || '')}}</td>
                    <!-- Modal Trigger -->
                    <a class="modal-trigger btn-flat" (click)="openModal(shift.guards)"><i class="material-icons hs-text-color" id="icon">assignment_ind</i></a>
                    
                  </tr>
                </tbody>
              </table>
            </div>
            <ul class="pagination center">
              <li class="disabled"><a href="#!"><i class="material-icons hs-text-color">chevron_left</i></a></li>
              <li class="waves-effect"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><i class="material-icons hs-text-color">chevron_right</i></a></li>
            </ul>
          </div>
        </div>
      </ng-template>
      <!-- error for get clients data -->
      <ng-template [ngIf]="shiftsData.error">
        <div class="col l6 offset-l3 center">
          <div class="card-panel">
            <i class="material-icons large amber-text">sentiment_dissatisfied</i>
            <h3>No se encuentran los turnos</h3>
            <p>No hay ningun turno ingresado. Se sugiere que ingrese alguno.</p>
          </div>
        </div>
      </ng-template>
      <!-- loading for get clients data -->
      <ng-template [ngIf]="shiftsData.loading">
        <div class="row center">
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large tooltipped hs-color" materialize="tooltip" routerLink="/dashboard/createShift" data-position="left" data-delay="50" data-tooltip="Crear turno">
    <i class="large material-icons">add</i>
    </a>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <div class="row">
      <div *ngFor="let guard of guardsShiftSelected">
        <div class="col m6 offset-m3">
          <div class="card horizontal hoverable">
            <div class="card-image center ">
              <img class="image-guard " src="../../../assets/imgs/Police Officer1_RF_RMPL-01.png">
            </div>
            <div class="card-stacked ">
              <div class="card-content">
                <div class="valign-wrapper"><i class="material-icons ">person</i>{{(guard.firstname || '') + ' ' + (guard.lastname || '')}}</div>
                <div class="valign-wrapper"><i class="material-icons ">subtitles</i>{{ guard.rut }}</div>
                <div class="valign-wrapper"><i class="material-icons ">local_phone</i>{{ guard.phone }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <a class="modal-trigger btn-flat" (click)="closeModal()"><i class="material-icons hs-text-color">close</i></a>
  </div> -->
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>
  
  