<div class="row">
  <div class="col m12">
    <h3 class="hs-text-color">Clientes</h3>
  </div>
  <div class="row">
    <div class="col m4">
      <nav class="hs-color">
        <div class="nav-wrapper">
          <div class="col s12">
            <a routerLink="/dashboard/home" class="breadcrumb">Dashboard</a>
            <a routerLink="/dashboard/clients" class="breadcrumb">Clients</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div *ngIf="clients$ | loading | async as clientsData;">

    <!-- clients data -->
    <ng-template [ngIf]="clientsData.value">
      <div *ngFor="let client of clientsData.value.clients" class="col m4">
        <div class="card">
          <div class="card-image center">
            <img src="../../../assets/imgs/client.png">
          </div>
          <div class="card-content">
            <div class="valign-wrapper"><i class="material-icons ">person</i>{{(client.name | titlecase)}}</div>
            <div class="valign-wrapper"><i class="material-icons ">location_on</i>{{ client.address }}</div>
            <div class="valign-wrapper"><i class="material-icons ">local_phone</i>{{ client.phone }}</div>
            <div class="valign-wrapper"><i class="material-icons ">email</i>{{ client.email }}</div>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- error for get clients data -->
    <ng-template [ngIf]="clientsData.error">
      <div class="col l6 offset-l3 center">
        <div class="card-panel">
          <i class="material-icons large amber-text">sentiment_dissatisfied</i>
          <h3>No se encuentran los clientes</h3>
          <p>No hay ningun cliente ingresado. Se sugiere que ingrese alguno.</p>
        </div>
      </div>
    </ng-template>
    <!-- loading for get clients data -->
    <ng-template [ngIf]="clientsData.loading">
      <div class="row center">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large tooltipped hs-color" materialize="tooltip" routerLink="/dashboard/createClient" data-position="left" data-delay="50" data-tooltip="Crear cliente">
    <i class="large material-icons">add</i>
  </a>
</div>