<div class="row">
  <div class="col m12">
    <h3 class="hs-text-color">Guardias</h3>
  </div>
  <div class="row">
    <div class="col m4">
      <nav class="hs-color">
        <div class="nav-wrapper">
          <div class="col s12">
            <a routerLink="/dashboard/home" class="breadcrumb">Dashboard</a>
            <a routerLink="/dashboard/guards" class="breadcrumb">Guards</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div *ngIf="guards$ | loading | async as guardsData">

    <!-- guards data -->
    <ng-template [ngIf]="guardsData.value">
      <div *ngFor="let guard of guardsData.guards" class="col m4">
        <div class="card">
          <div class="card-image center">
            <i class="material-icons prefix hs-text-color imagefont">assignment_ind</i>
          </div>
          <div class="card-content">
            <h6>Nombre: {{ guard.firstname }}</h6>
            <h6>Rut: {{ guard.rut }}</h6>
            <h6>Email: {{ guard.email }}</h6>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- error for get guards data -->
    <ng-template [ngIf]="guardsData.error">
      <div class="col l6 offset-l3 center">
        <div class="card-panel">
          <i class="material-icons large amber-text">error_outline</i>
          <h3>Ha ocurrido un error</h3>
          <p>Estamos experimentando errores en los servidores. Póngase en contacto con el adminstrador del sistema.</p>
        </div>
      </div>
    </ng-template>

    <!-- loading for get guards data -->
    <ng-template [ngIf]="guardsData.loading">
      <div class="row center">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large tooltipped hs-color" data-position="left" data-delay="50" data-tooltip="crear guardia" materialize="tooltip" routerLink="/dashboard/createGuard">
    <i class="large material-icons">add</i>
  </a>
</div>