<div class="row card-panel hoverable col m7 offset-m2">
  <form class="row" materialize [formGroup]="newClientForm" (ngSubmit)="login()" ngNativeValidate>
    <div class="row center no-margin">
      <h3>Nuevo Cliente</h3>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix text-uss-color">account_circle</i>
      <input formControlName="name" type="text" required class="validate">
      <label for="icon_prefix">Nombre Completo</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix text-uss-color">lock</i>
      <input formControlName="workplace" type="text" required class="validate">
      <label for="icon_prefix">Recinto</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix text-uss-color">phone</i>
      <input formControlName="phone" type="text" required class="validate">
      <label for="icon_prefix">Teléfono</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix text-uss-color">email</i>
      <input formControlName="email" type="email" required class="validate">
      <label for="icon_prefix">Email</label>
    </div>
    <div class="col s12">
      <button type="submit" class="hoverable btn col s12 waves-effect waves-light hs-color" value="Entrar"><strong class="white-text">Crear</strong></button>
    </div>
  </form>
</div>
