<div class="row card-panel hoverable col m7 offset-m2">
  <form class="row" materialize [formGroup]="createClientForm" (ngSubmit)="addClient()" ngNativeValidate>
    <div class="row center no-margin">
      <h3>Nuevo Cliente</h3>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix text-uss-color">account_circle</i>
      <input formControlName="name" type="text" required class="validate">
      <label for="icon_prefix">Nombre</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix text-uss-color">location_on</i>
      <input formControlName="address" type="text" required class="validate">
      <label for="icon_prefix">Recinto</label>
    </div>
    <div class="input-field col s12">
      <h6 class="move-lavel hs-text-color " for="icon_prefix">Teléfono</h6>
      <i class="material-icons prefix text-uss-color">phone</i>
      <input formControlName="phone" type="number" placeholder="Ej: +56987654321" maxlength="12" required class="validate">
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix text-uss-color">email</i>
      <input formControlName="email" type="email" required class="validate">
      <label for="icon_prefix">Email</label>
    </div>
    <div class="col s12">
      <button type="submit" class="hoverable btn col s12 waves-effect waves-light hs-color" value="Entrar"><strong class="white-text">Crear</strong></button>
    </div>
  </form>
</div>
