<ul id="slide-out" class="side-nav fixed hs-color">
  <br><br><br><br><br>
  <li>
    <a class="white-text no-padding-right">Menú</a>
  </li>
  <li>
    <a class="waves-effect waves-light white-text no-padding-right" routerLink="/dashboard/home">Inicio<i class="material-icons white-text right">keyboard_arrow_right</i></a>
  </li>
  <li>
    <a class="waves-effect waves-light white-text no-padding-right" routerLink="/dashboard/clients">Clientes<i class="material-icons white-text right">keyboard_arrow_right</i></a>
  </li>
  <li>
    <a class="waves-effect waves-light white-text no-padding-right" routerLink="/dashboard/guards">Guardias<i class="material-icons white-text right">keyboard_arrow_right</i></a>
  </li>
  <li>
    <a class="waves-effect waves-light white-text no-padding-right" routerLink="/dashboard/shifts">Turnos<i class="material-icons white-text right">keyboard_arrow_right</i></a>
  </li>
</ul>

