<div class="row">
  <div class="col m12">
    <h3 class="hs-text-color">Cuadro de Mando</h3>
  </div>
  <div class="row">
    <div class="col m4">
      <nav class="hs-color">
        <div class="nav-wrapper">
          <div class="col s12">
            <a routerLink="/dashboard/home" class="breadcrumb">Dashboard</a>
            <a routerLink="/dashboard/home" class="breadcrumb">Home</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- ¡¡grafico aqui!! -->
  <div class="container">
    <div class="row">
      <button class='btn btn-success' id='btn1' style="display:none" (click)='actualizar()'>update</button>
      <div class="col s12">
        <canvas id='canvas'>
          {{chart}}
        </canvas>
      </div>
    </div>
  </div>
  <div *ngIf="$reports | loading | async as reportsData;">
    <!-- clients data -->
    <ng-template [ngIf]="reportsData.value">
      <div>
        <div class="col m12">
          <div class="card-panel no-padding">
            <table class="striped">
              <thead class="hs-color">
                <tr>
                    <th class="white-text">Tipo</th>
                    <th class="white-text">Hora</th>
                    <th class="white-text">Dirección</th>
                </tr>
              </thead>
      
              <tbody>
                <tr *ngFor="let report of reportsData.value.reports">
                  <!-- <p>{{ shift | json }}</p> -->
                  <td>{{(report.type || '')}}</td>
                  <td>{{(report.time || '')}}</td>
                  <td>{{(report.shiftShiftId.shiftPlace || '')}}</td>
                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- error for get clients data -->
    <ng-template [ngIf]="reportsData.error">
      <div class="col l6 offset-l3 center">
        <div class="card-panel">
          <i class="material-icons large amber-text">sentiment_dissatisfied</i>
          <h3>No se encuentran los turnos</h3>
          <p>No hay ningun turno ingresado. Se sugiere que ingrese alguno.</p>
        </div>
      </div>
    </ng-template>
    <!-- loading for get clients data -->
    <ng-template [ngIf]="reportsData.loading">
      <div class="row center">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  
</div>
