
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Nombre Cliente" id="name" type="text" class="validate">
                <label for="title">Nombre Cliente</label>
            </div>
        </div>
   
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Lugar donde se realizara la ronda pedida por el cliente" id="address" type="text" class="validate">
                <label for="organizer">Lugar de ronda</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="+56900000000" id="phone" type="text" class="validate">
                <label for="website">Teléfono</label>
            </div>
        </div> 
        <div class="input-field col s6">
          <input placeholder="contact@myweb.com" id="email" type="text" class="validate">
          <label for="email">Correo de contacto</label>
        </div>
    </form>
</div>