.hs-color {
  background-color: #001039;
}

.hs-text-color {
  color: #001039;
}

.content-input {
  margin-top: 3px !important;
}

.move-lavel {
  margin-left: 40px;
  font-size: 13px;
}

.center{
  align-items: center;
}

.imagefont{
  font-size: 6rem;
}

.container {
  width: 90%;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.card-content div.valign-wrapper i.material-icons {
  padding-right: 16px;
}

.card-image img{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#icon {
  font-size: 35px !important;
}

img.report-error {
  height: 30vh;
}

.modal-fixed-footer{
  overflow-y: hidden;
}

.valign-wrapper>.material-icons {
  padding-right: 16px;
}

span.badge {
  border-radius: 100%;
  min-width: 0;
  position: absolute;
  margin: 35px 0 0 20px;
}

td:nth-child(3),td:nth-child(4),th:nth-child(3),th:nth-child(4) {
  width: 8%;
  min-width: 81px;
}

.pading-buton-text {
  padding-left: 2px;
  padding-right: 0px;
}